SIGNUP_PORT=8060
JELLYFIN_URL=http://jellyfin:8096
PUBLIC_JELLYFIN_URL=http://localhost:8096
JELLYFIN_DB=/jellyfin-data/jellyfin.db
JELLYFIN_DB_PATH=./jellyfin.db
APPLY_DEFAULTS=/app/apply-defaults.py
